<footer class="footer" fxLayout="column" fxLayoutAlign="center stretch">

	<div class="content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end end">

		<div>
			<span class="bx--type-legal">The IBM Blockchain World Wire Sandbox Environment is for illustration/demo purposes only, not a guarantee of general availability functionality and it cannot be used for live transactions.</span>
		</div>

		<div fxFlex fxHide.lt-md></div>

		<div class="bx--type-omega" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" fxFlexOrder.lt-md="1">
			<div>
				<a class="no-line" target="_blank" routerLink="/terms">Terms </a>
			</div>
			<div>
				<span>|</span>
			</div>
			<div>
				<a class="no-line" target="_blank" routerLink="/privacy">Privacy </a>
			</div>
			<div>
				<span>|</span>
			</div>
			<div>
				<a class="no-line" target="_blank" routerLink="/privacy">Online Privacy</a>
			</div>
		</div>

	</div>

</footer>

<!-- <div>
			<span>World Wire 2018</span> TODO: add trademark, copyright, or rights reserved symbols appropriately
			<span>&trade;</span>
			<span>&reg;</span>
			<span>&copy;</span>
			<br>
		</div> -->

<!-- <div class="section" fxFlexOrder.lt-md="0" [ngClass.gt-sm]="['text-right']">
				<a class="blockchain-logo" href="https://www.ibm.com/blockchain/">
                    <span >IBM <strong>Blockchain</strong></span>
				</a>
			</div> -->
