package-lock.json
*/node_modules/*
.idea/*
deployment/docker/keys
stellar-quotes-api.json
internal-api.json
quotes-service
vendor
*.log
*log.txt
logs.txt
envTest.txt
glide.lock
temp
.env*
awsprofile
!.env_template
!.env_test
.DS_Store
//aaron
junk.go