<div class="bx--modal-container">
	<div class="bx--modal-header">
		<div class="margin-width">
			<p class="bx--modal-header__label bx--type-delta">{{subtitle}}</p>
			<p class="bx--modal-header__heading bx--type-beta">Node Configuration</p>
		</div>
	</div>
	<button class="bx--modal-close" type="button" data-modal-close aria-label="close modal" (click)="closeModal()">
      <svg class="bx--modal-close__icon" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
        <title>Close Modal</title>
        <path d="M6.32 5L10 8.68 8.68 10 5 6.32 1.32 10 0 8.68 3.68 5 0 1.32 1.32 0 5 3.68 8.68 0 10 1.32 6.32 5z" fill-rule="nonzero"
        />
      </svg>
    </button>
	<div class="bx--modal-content">
		<app-node-config-form *ngIf="this.configData && this.loaded" [configData]="configData"
			[institution]="institution" [theme]="dark" (submitted)="closeModal()"></app-node-config-form>
	</div>
</div>
