<div fxLayout="row" class="title-container full-width" ngClass.gt-sm="content-gt-sm" fxLayoutAlign="center center">
	<div class="full-width restrict-width margin-height" ngClass.gt-xs="margin-width">
		<h1 id="QuickStart" class="bx--type-alpha page-title">What's new in this release.</h1>
	</div>
</div>
<div fxLayout="row" class="full-width" ngClass.gt-sm="content-gt-sm" fxLayoutAlign="center center">
	<div class="full-width restrict-width margin-height" ngClass.gt-xs="margin-width" fxLayout="column">
		<div>
			<ul>
				<li>
					<p>
						Combined client-api with callback-api to create a single api service
					</p>
				</li>
				<li>
					<p>
						<!-- WW-297: Whitelist Certain Participants to transact with: New api endpoint is added to manage whitelist of participant domains
                        which the given participant trusts to transact with -->
						Whitelist participants
					</p>
				</li>
				<li>
					<p>
						<!-- WW-288: New WW Admin Service: service stores all FItoFI messages -->
						New WW Admin Service: service stores all FItoFI messages
					</p>
				</li>
				<li>
					<p>
						<!-- WW-168: Query Payment Status: transaction reports on distribution account -->
						Query Payment Status: transaction reports on distribution account
					</p>
				</li>
				<li>
					<p>
						<!-- WW-303: Look Up Payment Details -->
						Look up payment details
					</p>
				</li>
				<li>
					<p>
						<!-- WW-306: Log System Status -->
						Log system status
					</p>
				</li>
				<li>
					<p>
						<!-- WW-202: Get balance of Issued DOs -->
						Get balance of issued digital obligations (DO)
					</p>
				</li>
				<li>
					<p>
						<!-- WW-202-1: Changes to issuing a DO Based on the 12-char. naming convention -->
						Changes to issuing a digital obligations (DO) based on the 12-character naming convention
					</p>
				</li>
				<li>
					<p>
						<!-- WW-202-3: Changing the quote service to restrict returns to include only Issuers for DO pairs -->
						Changing the quote service to restrict returns to include only issuers for digital obligations (DO) pairs
					</p>
				</li>
				<li>
					<p>
						<!-- WW-202-4: Act on Exchange -->
						Added act on Exchange
					</p>
				</li>
				<li>
					<p>
						<!-- WW-347: Consume Blacklist or Whitelist data for transaction and quotes \ 5p -->
						Consume Blacklist or Whitelist data for transaction and quotes
					</p>
				</li>
				<!-- <li>
					<p>
                        same as above
						WW-202-1: Changing the quote service to restrict returns to include only Issuers for DO pairs	
					</p>
				</li> -->
				<li>
					<p>
						<!-- WW-327: Allow Trust: Single endpoint for trust operations -->
						Single endpoint for trust operations
					</p>
				</li>
				<li>
					<p>
						<!-- Refactoring Fees endpoint based on 23rd Aug Mbanq comment -->
						Refactoring Fees endpoint
					</p>
				</li>
				<li>
					<p>
						<!-- WW-290: PaymentListener: Payment listener is added as its own micro service which calls the callback endpoint /payment when
						receives incoming payment notifications from stellar for a particular participant account -->
						PaymentListener: Payment listener is added as its own micro service which calls the callback endpoint /payment when receives
						incoming payment notifications from stellar for a particular participant account
					</p>
				</li>
				<li>
					<p>
						<!-- WW-318: Terminate Network Account: As a WW admin, I can suspend a Participants User accounts from using the WW network once
						they have failed to meet the standards outline dor if they request suspension due to a data or security breach of their
						internal systems -->
						Terminate Network Account: WW admin can suspend a Participants User accounts from using the WW network once they have failed
						to meet the standards outlined or if they request suspension due to a data or security breach of their internal systems
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
