<div fxLayout="row" class="title-container full-width" ngClass.gt-sm="content-gt-sm" fxLayoutAlign="center center">
	<div class="full-width restrict-width margin-height" ngClass.gt-xs="margin-width">
		<!-- remove this header so that it all flows together -->
		<h1 id="QuickStart" class="bx--type-beta page-title">Onboarding</h1>
	</div>
</div>

<div fxLayout="row" class="full-width" ngClass.gt-sm="content-gt-sm" fxLayoutAlign="center center">
	<div class="full-width restrict-width margin-height" ngClass.gt-xs="margin-width" fxLayout="column">
		<div>
			<h3 class="bx--type-beta">Onboarding</h3>
			<p>
				So how much time and effort will it take to get up and running on World Wire? Typically, we believe 1-2 months is a safe estimate, but that may vary based on a variety of factors. In order to accurately estimate the timing and effort required, the following are a few key factors that your organization should take into consideration:	
			</p>
			<ul class="bx--list--unordered">
				<li class="bx--list__item">Desired role and capabilities on World Wire</li>
				<li class="bx--list__item">Team size and availability</li>
				<li class="bx--list__item">Complexity of existing back-end systems</li>
				<li class="bx--list__item">Current understanding of World Wire concepts</li>
			</ul>
			<p>	
				Below is a general timeline of the entire process.
			</p>
			<br>
			<img width="85%" src="assets/images/1/onboarding-timeline.png" />
			<br>
			<br>
			<p>	
				To start, you'll need to begin integrating your backend systems with our Participant API to send requests to and retrieve updates from other Participants on World Wire.
			</p>
			<div class="container margin-height">
				<a href="https://www.ibm.com/account/reg/us-en/signup?formid=MAIL-blockchain&disableCookie=Yes" target="_blank"><button class="bx--btn bx--btn--primary" type="button">Contact IBM</button></a>
			</div>
		</div>
		<div class="margin-height"></div>
	</div>
</div>
