<div class="margin-width margin-height bg-dark">
    <div class="margin-width margin-height">
        <p class="bx--type-delta">Request Route: </p>
        <br>
        <p class="route-display bx--snippet-code">{{requestRoute}}</p>
        <!-- <br><br>
        <p class="bx--type-delta">Request Body:</p>
        <br><br>
    <div  class="bx--snippet bx--snippet--multi margin-width margin-height" data-code-snippet>
      <div class="body-snippet">
        <pre><code class="bx--snippet-code bx--type-epsilon json">{{bodyString}}</code></pre>
      </div>
    </div>
    <br><br>
    <div fxLayout="row" class="margin-width">
      <button class="bx--btn bx--btn--primary" type="button" (click)="executeRequest()">Execute Request</button>
    </div>
    <br>
    <br>
    <div *ngIf="requestResult.length > 2" class="">
        <p class="bx--type-delta">Request Response:</p>
        <br><br>
        <div class="bx--snippet bx--snippet--multi margin-width margin-height" data-code-snippet>
            <div class="body-snippet">
                <pre><code #requestResultSelector class="bx--snippet-code bx--type-epsilon json">
                    {{requestResult}}
                </code></pre>
            </div>
        </div>
    </div>-->

  <!-- <div *ngIf="requestResult.length > 2">
      <br><br>
      <h3 class="label">Request Response</h3>

      <br>
      <br>
      <div  class="bx--snippet bx--snippet--multi" data-code-snippet>
          <div class="">
              <textarea readonly class="bx--text-area bx--text-area--v2 payload-text" rows="20">
              {{requestResult}}
              </textarea>
          </div>
      </div>
  </div> -->
  </div>
</div>
