@import "~sass/ibm-style-override";

.column {
	border-right: 1px solid $ui-03;
	margin-right: 20px;
	padding-right: 20px;
}

.column:last-of-type {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

.row {
	border-bottom: 1px solid $ui-03;
	padding-top: 15px;
	padding-bottom: 15px;

	&.title {
		padding-bottom: 0;
	}
	.row:first-of-type {
		padding-top: 0;
	}
}

.row:last-of-type {
	border-bottom: none;
}

.side-column {
	min-width: 25%;
}
