<!-- https://sketch.cloud/s/ek13m -->
<div class="margin-width margin-height restrict-width">
	<div fxLayout="row" fxLayoutAlign="end end">
		<button class="bx--btn bx--btn--primary" type="button" (click)="addUser()">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <span>Add New</span>
      <svg width="16" height="16" fill="#fff" viewBox="0 0 16 16">
        <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
      </svg>
    </div>
  </button>
	</div>

	<section class="bx--structured-list">

		<div class="bx--structured-list-thead">
			<div class="bx--structured-list-row bx--structured-list-row--header-row">
				<div class="bx--structured-list-th">Email</div>
				<div class="bx--structured-list-th">Permission</div>
				<div class="bx--structured-list-th">Actions</div>
			</div>
		</div>

		<div class="bx--structured-list-tbody" *ngIf="!users">
			<div class="bx--structured-list-row">
				<div class="bx--structured-list-td bx--structured-list-content--nowrap">No participant permissions
					assigned.</div>
				<div class="bx--structured-list-td"></div>
				<div class="bx--structured-list-td"></div>
			</div>
		</div>

		<div class="bx--structured-list-tbody" *ngFor="let i of users | keyvalue: emailSortDesc">
			<div class="bx--structured-list-row">
				<div class="bx--structured-list-td bx--structured-list-content--nowrap">{{i.value.email}}
				</div>
				<div class="bx--structured-list-td">{{humanizeRoles(i.value.roles)}}</div>
				<div class="bx--structured-list-td" fxLayout="row">
					<button class="bx--btn bx--toolbar-action bx--btn--sm" type="button" [disabled]="disable(i.value.email, authService.auth.auth.currentUser.email)" (click)="editUser(i.value.email, i.key, i.value.roles)">
						<!-- edit -->
						<svg alt="Edit User" name="Edit" class="bx--toolbar-action__icon" width="16" height="16" viewBox="0 0 16 16"><path d="M7.926 3.38L1.002 9.72V12h2.304l6.926-6.316L7.926 3.38zm.738-.675l2.308 2.304 1.451-1.324-2.308-2.309-1.451 1.329zM.002 9.28L9.439.639a1 1 0 0 1 1.383.03l2.309 2.309a1 1 0 0 1-.034 1.446L3.694 13H.002V9.28zM0 16.013v-1h16v1z"></path></svg>
					</button>
					<button class="bx--btn bx--toolbar-action danger bx--btn--sm" type="button" [disabled]="disable(i.value.email, authService.auth.auth.currentUser.email)" (click)="deleteUser(i.value.email, i.key, i.value.roles)">
						<!-- remove -->
						<svg alt="Remove User" name="Remove" class="bx--toolbar-action__icon" width="12" height="16" viewBox="0 0 12 16">
								<path d="M11 4v11c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V4H0V3h12v1h-1zM2 4v11h8V4H2z"></path>
								<path d="M4 6h1v7H4zm3 0h1v7H7zM3 1V0h6v1z"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>

	</section>
</div>
