<!-- <button class="bx--btn bx--btn--ghost" type="button" routerLink="/" fxHide.gt-sm>Home</button> -->
<ul class="bx--tabs__nav">
    <li class="bx--tabs__nav-item">
        <a class="bx--btn" fxFlex.lt-md ngClass.lt-md="mobile" routerLink="/design">About</a>
    </li>
    <li class="bx--tabs__nav-item">
        <a class="bx--btn" fxFlex.lt-md ngClass.lt-md="mobile" routerLink="/docs">Docs</a>
    </li>
    <li class="bx--tabs__nav-item">
        <button fxFlex.lt-md class="bx--btn bx--btn--primary" ngClass.lt-md="mobile" type="button" routerLink="/login">Login</button>
    </li>
</ul>
