.bx--content-switcher {
	height: auto;
}

.bx--content-switcher-btn {
	font-size: 12px;
	padding: 8px 16px;
}

label {
    display: block;
    padding-top: 5px;
}

.bx--data-table-v2 {
	tbody {
		border-right: none;
	}
}
