<ibm-modal theme="danger" *ngIf="node">
	<ibm-modal-header class="bx--modal-header__heading bx--type-beta" (closeSelect)="closeModal()">Delete Node
	</ibm-modal-header>

	<form #confirmDeleteForm="ngForm" (ngSubmit)="deleteNode()">
		<section class="bx--modal-content">
			<p>Are you sure you want to delete <span class="bx--type-epsilon">{{node.participantId}}</span>?
				If so, please confirm the participant ID node you want to delete in the form below:
			</p>
			<br/>
			<div class="margin-height margin-width bx--form-item bx--text-input-wrapper">

				<label class="bx--label">Participant ID <span class="text-danger">*</span></label>
				<input ibmText #confirmParticipantIdModel="ngModel" id="confirm-id" name="confirm-id" type="text" [(ngModel)]="confirmParticipantId" placeholder="participant-a" [attr.data-invalid]="!(confirmParticipantIdModel.valid || confirmParticipantIdModel.untouched) ? true: null" appConfirmInputValid [initInput]="node.participantId" required />

				<div *ngIf="confirmParticipantIdModel.errors?.required" class="bx--form-requirement">
					Confirmation of Participant ID is required
				</div>
				<div *ngIf="confirmParticipantIdModel.errors?.unconfirmed" class="bx--form-requirement">
					Input above does not equal the Participant ID of the node you wish to delete.
				</div>
			</div>
			<br/>
			<p>Please note that, once deleted, this participant ID CANNOT be reused for the same participant and
				environment.</p>
		</section>
		<ibm-modal-footer>
			<button ibmButton="tertiary" type="button" (click)="closeModal()">Cancel</button>
			<button ibmButton="danger--primary" type="submit" [disabled]="!confirmDeleteForm.valid">Delete</button>
		</ibm-modal-footer>
	</form>

</ibm-modal>
