<div fxLayout="row" class="title-container full-width" ngClass.gt-sm="content-gt-sm" fxLayoutAlign="center center">
	<div class="full-width restrict-width margin-height" ngClass.gt-xs="margin-width">
		<h1 id="Introduction" class="bx--type-beta page-title">Introduction</h1>
	</div>
</div>

<div fxLayout="row" class="full-width" ngClass.gt-sm="content-gt-sm" fxLayoutAlign="center center">
	<div class="full-width restrict-width margin-height" ngClass.gt-xs="margin-width" fxLayout="column">
		<div>
			<h3 class="bx--type-beta">API Reference</h3>
			<p>
				World Wire enables a network of geographically-dispersed payment providers to exchange value around the globe in seconds using blockchain-based digital assets for near real-time settlement.
			</p>
			<br>
			<p>
				Our API is based on widely understood RESTful concepts. All requests and responses are formatted in JSON as you'd expect.
			</p>
			<h3 class="bx--type-beta">Networks</h3>
			<p>
				World Wire has two different networks: Staging and Production. We use JWT for authentication, and both environments are hosted on separate architecture, meaning data does not flow between them. We've spent a lot of time making sure we get security right while keeping the onboarding experience nice and simple!
			</p>
			<br>
			<p>
				<span class="bx--type-delta">Staging</span>
				<br>
				The first step of your journey is to jump into the Staging network. You'll be provisioned two nodes in order to simulate two Participants transacting on the World Wire network. When you're ready to get started, continue to the
				<a routerLink="../onboarding">{{'Onboarding'}}</a>
				section to contact us!
				<br>
				<br>
				<span class="bx--type-delta">Production</span>
				<br>
				Ladies and gentlemen, start your engines! Once you've proven your technology, we'll consolidate you onto a single node on the Staging network which will be a mirror of what we'll deploy into the Production network. The final steps involve a technology certification process conducted by our Onboarding team, to make sure everything's in order. You'll be transacting with real value in no time!
				<br>
				<br>
			</p>
			<h3 class="bx--type-beta">Support</h3>
			<p>
				If you encounter a problem or have a question, it's easy to contact World Wire support. Simply visit our
				<a href="https://www.ibm.com/mysupport/s/topic/0TO0z000000YU4OGAW/blockchain-gftn?productId=01t0z000006n7D1AAI" target="_blank">Support</a>
				portal and login with your IBM ID. If you're an existing client, you'll be able to open a case, which an agent will promptly respond to, otherwise you'll be prompted to create your IBM ID.
			</p>
		</div>
		<div class="margin-height"></div>
	</div>
</div>
