.bx--modal-container {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
}
