<div fxFlex fxLayout="row" fxLayoutAlign="center center">

	<div fxLayout="column" fxLayoutGap="40px">

		<div class="margin-width">
			<span class="bx--type-mega">
					IBM
					<strong> Blockchain World Wire </strong>
			</span>
		</div>

		<div fxFlex fxLayout="row" fxLayoutGap="40px" class="margin-width">
			<button class="bx--btn bx--btn--secondary" type="button" fxFlex routerLink="/docs">Get Started</button>
			<!-- <button class="bx--btn bx--btn--secondary" type="button" fxFlex routerLink="/docs">Learn</button> -->
		</div>

	</div>

</div>
